# Core Django
django~=5.2.7
djangorestframework~=3.16.1
django-cors-headers~=4.9.0

# Database
psycopg2-binary~=2.9.10
dj-database-url~=3.0.1

# Production server
gunicorn~=23.0.0

# Static files
whitenoise~=6.11.0

# Application dependencies
tvscreener~=0.0.13
pandas~=2.3.3
numpy~=2.3.3
